<div class="container">
  <h1>Create Account</h1>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" required class="form-control" [(ngModel)]="user.Email" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text"  class="form-control" [(ngModel)]="user.UserName" name="UserName">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Phone Number</label>
      <input type="text" class="form-control" [(ngModel)]="user.PhoneNumber" name="PhoneNumber">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.Password" name="password">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.ConformPassord" name="ConformPassord">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Role</label>
      <select [(ngModel)]="user.Role" class="form-control" name="Role">
        <option  value="Client">Client</option>
        <option  value="Vendor">Vendor</option>
      </select>
    </div>
    
    <button type="button" class="btn btn-primary" (click)="Send()">Submit</button>
  </form>
</div>